* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px;
    color: #980;
}

#meuCanvas {
    margin: 10px;
    border: 1px solid #CCC;
    background-color: black;
}